.DS_Store
.idea
node_modules
*/config.yml
*/config.yaml
*/*.db
*/ccpc.csv
venv/
.venv/
cookie.txt
out.srk.json
rank_spider/domjudge_image_detection/detection/
rank_spider/domjudge_image_detection/result/
rank_spider/icpc/*
rank_spider/ccpc/*
rank_spider/province/*
rank_spider/images/*
debug/
